<app-menu></app-menu>
<h1>Lista de viajes: </h1>
<table class='table table-hover table-responsive table-fixed'>
  <thead>
    <tr>
      <th>Horario</th>
      <th>Duración</th>
      <th>Distancia</th>
      <th>Mensaje</th>
      <th>Cantidad de Pasajeros</th>
      <th>Precio</th>
      <th>Medio de pago</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody *ngFor="let viaje of listaViajes">
    <tr *ngIf="viaje.estado == 1" style="background-color: blue">
      <!--Iniciado-->
      <td>{{viaje.horario}}</td>
      <td>{{viaje.duracion}} Minutos</td>
      <td>{{viaje.distancia}} Metros </td>
      <td>{{viaje.comodidad}}</td>
      <td>{{viaje.cantidad}} Pasajero/s</td>
      <td>${{viaje.precio}}</td>
      <td>{{viaje.medioDePago}}</td>
      <td>Iniciado</td>
      <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
      <td><button type="button" class="btn btn-danger" (click)="Cancelar(viaje)">Cancelar</button></td>
    </tr>
    <tr *ngIf="viaje.estado == 3" style="background-color: green">
      <!--En proceso-->
      <td>{{viaje.horario}}</td>
      <td>{{viaje.duracion}} Minutos</td>
      <td>{{viaje.distancia}} Metros </td>
      <td>{{viaje.comodidad}}</td>
      <td>{{viaje.cantidad}} Pasajero/s</td>
      <td>${{viaje.precio}}</td>
      <td>{{viaje.medioDePago}}</td>
      <td>En proceso</td>
      <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
      <td><button type="button" class="btn btn-danger" (click)="Cancelar(viaje)">Cancelar</button></td>
    </tr>
    <tr *ngIf="viaje.estado == 2" style="background-color: red">
      <td>{{viaje.horario}}</td>
      <td>{{viaje.duracion}} Minutos</td>
      <td>{{viaje.distancia}} Metros </td>
      <td>{{viaje.comodidad}}</td>
      <td>{{viaje.cantidad}} Pasajero/s</td>
      <td>${{viaje.precio}}</td>
      <td>{{viaje.medioDePago}}</td>
      <td>Cancelado</td>
      <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
    </tr>
    <tr *ngIf="viaje.estado == 4" style="background-color: green">
      <!--Finalizado-->
      <td>{{viaje.horario}}</td>
      <td>{{viaje.duracion}} Minutos</td>
      <td>{{viaje.distancia}} Metros </td>
      <td>{{viaje.comodidad}}</td>
      <td>{{viaje.cantidad}} Pasajero/s</td>
      <td>${{viaje.precio}}</td>
      <td>{{viaje.medioDePago}}</td>
      <td>Finalizado</td>
      <td><button type="button" class="btn btn-primary" (click)="Ver(viaje)">Ver Datos</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="mostrar">
  <agm-map>
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  </agm-map>
  <br>
  <div class="row">

    <div style="text-align: center">
      Fecha de viaje<input type="datetime-local" readonly [(ngModel)]="miViaje.horario">
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <label>Pasajeros </label>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <input type="number" class="form-control" readonly [(ngModel)]="miViaje.cantidad" placeholder="Ingrese N° de pasajeros">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label class="form-control">Duración {{miViaje.duracion}} minutos</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label class="form-control">Distancia {{miViaje.distancia}} metros</label>
      </div>
      <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label class="form-control">Precio {{duracion | exponentialStrength: 2}} metros</label>
      </div>-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label class="form-control">Precio {{miViaje.precio}} pesos</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <label>Medio de pago </label>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
        <label class="form-control">Precio {{miViaje.medioDePago}} pesos</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="string" class="form-control" [(ngModel)]="miViaje.comodidad" placeholder="Ingrese sugerencia para su viaje">
      </div>
    </div>
  </div>
  <br>
  <h1>Lista de horario: </h1>
  <table class='table table-hover table-responsive table-fixed'>
    <thead>
      <tr>
        <th>Remisero</th>
        <th>Desde</th>
        <th>Hasta</th>
      </tr>
    </thead>
    <tbody *ngFor="let horario of listaHorarios">
      <tr style="background-color: blue">
        <!--Iniciado-->
        <td><img  style="width:100px;height:100px" class='fotoGrilla'  src="../../../assets/usuarios/{{horario.foto}}" /></td>
        <td>{{horario.timeDesde}}</td>
        <td>{{horario.timeHasta}} </td>
        <td><button type="button" class="btn btn-primary" (click)="Asignar(horario)">Asignar Conductor</button></td>
      </tr>
    </tbody>
  </table>





</div>