 <div class="container" >
  <div class="jumbotron" style="padding:25px;background-color: darkblue;border-radius: 10px">
    <form action="return true;">
      <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;color: darkgoldenrod">Inicio de sesión</h1>
      
      <!--<div style="text-align: center;">
        <img class="imgcontainer" src="./assets/imagenes/login.png" alt="Avatar" >
      </div>-->
      <div class="container">
        <p *ngIf="mensaje != ''">{{mensaje}}</p>

        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <div style="text-align: center">
          <button class="loginbtn" (click)="Entrar()" >Ingresar</button>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <button class="btn btn-warning" (click)="Cargar(1)" >Ingresar como encargado</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <button class="btn btn-warning" (click)="Cargar(2)" >Ingresar como cliente</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <button class="btn btn-warning" (click)="Cargar(3)" >Ingresar como remisero</button>
            </div>
          </div>
         
        </div>
      </div>

      <div class="container" style="text-align: center" >
        <label>No tiene usuario?</label>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
      </div>
     
    </form>
  </div>
</div>

<div *ngIf="gif"> 
<app-preload-imagen ></app-preload-imagen>
</div>