<h1>Lista de Empleados: </h1>
<table class='table table-hover table-responsive table-fixed'>
  <thead>
    <tr>
      <th>Legajo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>fecha de nacimiento</th>
      <th>Sexo</th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of listaUsuarios" >
    <tr *ngIf="usuario.habilitado" style="background-color: green">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo}}</td>
      <td><button class="btn btn-danger" (click)="Desabilitar(usuario.legajo)" style="width: 100%">Desabilitar Empleado</button></td>
    </tr> 
    <tr *ngIf="usuario.habilitado == 0" style="background-color: red">
      <td>{{usuario.legajo}} </td> 
      <td>{{usuario.nombre}} </td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>{{usuario.sexo}}</td>
      <td><button class="btn btn-success" (click)="Habilitar(usuario.legajo)" style="width: 100%">Habilitar Empleado</button></td>
    </tr>     
  </tbody>
</table>